.comment {
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.commentUser {
    display: flex;
    align-items: center;
}

.userComment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Eraser {
    cursor: pointer;
    transition: 0.3s;
}

.Eraser:hover {
    transform: scale(1.2);
}