.LoginPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ErrorMessage {
    background-color: rgb(218, 202, 202);
    color: black;
    padding: 10px;
    border-radius: 2px;
}

.SubmitBtn {
    text-transform: uppercase;
}